USE [test]
GO
/****** Object:  Table [dbo].[CTPHIEUMUON]    Script Date: 16/12/2019 7:39:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPHIEUMUON](
	[MS] [int] NOT NULL,
	[MAPM] [int] NOT NULL,
	[NGAYTRA] [date] NULL,
	[MATTT] [varchar](10) NULL,
	[GIAHAN] [bit] NOT NULL,
 CONSTRAINT [PK_CTPHIEUMUON] PRIMARY KEY CLUSTERED 
(
	[MS] ASC,
	[MAPM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DAUSACH]    Script Date: 16/12/2019 7:39:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAUSACH](
	[ISBN] [varchar](10) NOT NULL,
	[TENSACH] [nvarchar](50) NOT NULL,
	[SOTRANG] [int] NOT NULL,
	[DONGIA] [money] NOT NULL,
	[NAMXB] [int] NOT NULL,
	[MATL] [varchar](10) NOT NULL,
	[NXB] [varchar](10) NOT NULL,
 CONSTRAINT [PK_DAUSACH] PRIMARY KEY CLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCGIA]    Script Date: 16/12/2019 7:39:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCGIA](
	[MADG] [varchar](10) NOT NULL,
	[HO] [nvarchar](30) NOT NULL,
	[TEN] [nvarchar](40) NOT NULL,
	[PHAI] [nvarchar](3) NOT NULL,
	[DIACHI] [nvarchar](80) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[SDT] [int] NOT NULL,
 CONSTRAINT [PK_DOCGIA] PRIMARY KEY CLUSTERED 
(
	[MADG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LEPHI]    Script Date: 16/12/2019 7:39:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEPHI](
	[MAPHIEU] [int] IDENTITY(1,1) NOT NULL,
	[MADG] [varchar](10) NOT NULL,
	[NGAY] [date] NOT NULL,
 CONSTRAINT [PK_LEPHI] PRIMARY KEY CLUSTERED 
(
	[MAPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NXB]    Script Date: 16/12/2019 7:39:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NXB](
	[MANXB] [varchar](10) NOT NULL,
	[TEN] [nvarchar](40) NOT NULL,
	[DIACHI] [nvarchar](80) NOT NULL,
	[SDT] [int] NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
 CONSTRAINT [PK_NXB] PRIMARY KEY CLUSTERED 
(
	[MANXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUMUONSACH]    Script Date: 16/12/2019 7:39:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUMUONSACH](
	[MAPM] [int] IDENTITY(1,1) NOT NULL,
	[MADG] [varchar](10) NOT NULL,
	[MATT] [varchar](10) NOT NULL,
	[NGAYMUON] [date] NOT NULL,
 CONSTRAINT [PK_PHIEUMUONSACH] PRIMARY KEY CLUSTERED 
(
	[MAPM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 16/12/2019 7:39:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [int] IDENTITY(1,1) NOT NULL,
	[MATT] [varchar](10) NOT NULL,
	[NGAYNHAP] [date] NOT NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 16/12/2019 7:39:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[ISBN] [varchar](10) NOT NULL,
	[MS] [int] NOT NULL,
	[NGAN] [int] NOT NULL,
	[KE] [int] NOT NULL,
	[TRANGTHAI] [int] NOT NULL,
	[MANHAP] [int] NOT NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[MS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANGTAC]    Script Date: 16/12/2019 7:39:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANGTAC](
	[ISBN] [varchar](10) NOT NULL,
	[MATG] [varchar](10) NOT NULL,
 CONSTRAINT [PK_SANGTAC] PRIMARY KEY CLUSTERED 
(
	[ISBN] ASC,
	[MATG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 16/12/2019 7:39:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA](
	[MATG] [varchar](10) NOT NULL,
	[HO] [nvarchar](30) NOT NULL,
	[TEN] [nvarchar](30) NOT NULL,
	[DIACHI] [nvarchar](80) NOT NULL,
	[PHAI] [nvarchar](3) NOT NULL,
	[EMAIL] [varchar](50) NULL,
	[NGAYSINH] [date] NOT NULL,
 CONSTRAINT [PK_TACGIA] PRIMARY KEY CLUSTERED 
(
	[MATG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THELOAI]    Script Date: 16/12/2019 7:39:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THELOAI](
	[MATL] [varchar](10) NOT NULL,
	[TENTL] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_THELOAI] PRIMARY KEY CLUSTERED 
(
	[MATL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUTHU]    Script Date: 16/12/2019 7:39:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUTHU](
	[MATT] [varchar](10) NOT NULL,
	[HO] [nvarchar](30) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[PHAI] [nvarchar](3) NOT NULL,
	[DIACHI] [nvarchar](80) NOT NULL,
	[EMAIL] [varchar](50) NULL,
	[SDT] [int] NOT NULL,
 CONSTRAINT [PK_THUTHU] PRIMARY KEY CLUSTERED 
(
	[MATT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CTPHIEUMUON] ([MS], [MAPM], [NGAYTRA], [MATTT], [GIAHAN]) VALUES (1, 3, CAST(N'2019-11-09' AS Date), N'TT02', 1)
INSERT [dbo].[CTPHIEUMUON] ([MS], [MAPM], [NGAYTRA], [MATTT], [GIAHAN]) VALUES (1, 26, CAST(N'2019-11-09' AS Date), N'TT02', 0)
INSERT [dbo].[CTPHIEUMUON] ([MS], [MAPM], [NGAYTRA], [MATTT], [GIAHAN]) VALUES (1, 28, CAST(N'2019-11-09' AS Date), N'TT02', 0)
INSERT [dbo].[DAUSACH] ([ISBN], [TENSACH], [SOTRANG], [DONGIA], [NAMXB], [MATL], [NXB]) VALUES (N'DS01', N'ĐẮC NHÂN TÂM', 78, 150000000.0000, 2016, N'TL06', N'NXB03')
INSERT [dbo].[DAUSACH] ([ISBN], [TENSACH], [SOTRANG], [DONGIA], [NAMXB], [MATL], [NXB]) VALUES (N'DS02', N'CUỐN THEO CHIỀU GIÓ', 98, 250000.0000, 2014, N'TL02', N'NXB05')
INSERT [dbo].[DAUSACH] ([ISBN], [TENSACH], [SOTRANG], [DONGIA], [NAMXB], [MATL], [NXB]) VALUES (N'DS03', N'HẸN EM NGÀY ĐÓ', 56, 120000.0000, 2013, N'TL02', N'NXB05')
INSERT [dbo].[DOCGIA] ([MADG], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [EMAIL], [SDT]) VALUES (N'DG01', N'LÊ HOÀNG', N'PHÚC', N'NỮ', N'ĐỒNG THAP', CAST(N'1999-01-01' AS Date), N'abc12@gmail.com', 132123131)
INSERT [dbo].[DOCGIA] ([MADG], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [EMAIL], [SDT]) VALUES (N'DG02', N'LÊ CÔNG', N'NHẬT', N'NAM', N'ĐỒNG THÁP', CAST(N'1999-01-01' AS Date), N'a122@gmail.com', 123132162)
INSERT [dbo].[DOCGIA] ([MADG], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [EMAIL], [SDT]) VALUES (N'DG03', N'HUỲNH THẢO', N'TẤT', N'NAM', N'ĐỒNG THÁP', CAST(N'1999-01-01' AS Date), N'xyz@gmail.com', 113351231)
SET IDENTITY_INSERT [dbo].[LEPHI] ON 

INSERT [dbo].[LEPHI] ([MAPHIEU], [MADG], [NGAY]) VALUES (1, N'DG01', CAST(N'2019-01-01' AS Date))
INSERT [dbo].[LEPHI] ([MAPHIEU], [MADG], [NGAY]) VALUES (2, N'DG02', CAST(N'2019-01-01' AS Date))
INSERT [dbo].[LEPHI] ([MAPHIEU], [MADG], [NGAY]) VALUES (3, N'DG03', CAST(N'2019-01-01' AS Date))
SET IDENTITY_INSERT [dbo].[LEPHI] OFF
INSERT [dbo].[NXB] ([MANXB], [TEN], [DIACHI], [SDT], [EMAIL]) VALUES (N'NXB01', N'NHÀ XUẤT BẢN GIÁO DỤC', N'VIỆT NAM', 123456789, N'nxbgiaoduc@edu.com')
INSERT [dbo].[NXB] ([MANXB], [TEN], [DIACHI], [SDT], [EMAIL]) VALUES (N'NXB02', N'NHÀ XUẤT BẢN NHI ĐỒNG', N'VIỆT NAM', 123123156, N'nxbnhidong@gmail.com')
INSERT [dbo].[NXB] ([MANXB], [TEN], [DIACHI], [SDT], [EMAIL]) VALUES (N'NXB03', N'NHÀ XUẤT BẢN TRẺ', N'VIỆT NAM', 123523423, N'nxbtre@gmail.com')
SET IDENTITY_INSERT [dbo].[PHIEUMUONSACH] ON 

INSERT [dbo].[PHIEUMUONSACH] ([MAPM], [MADG], [MATT], [NGAYMUON]) VALUES (1, N'DG01', N'TT02', CAST(N'2019-01-01' AS Date))
INSERT [dbo].[PHIEUMUONSACH] ([MAPM], [MADG], [MATT], [NGAYMUON]) VALUES (2, N'DG01', N'TT03', CAST(N'2018-01-01' AS Date))
INSERT [dbo].[PHIEUMUONSACH] ([MAPM], [MADG], [MATT], [NGAYMUON]) VALUES (3, N'DG06', N'TT01', CAST(N'2017-01-01' AS Date))
SET IDENTITY_INSERT [dbo].[PHIEUMUONSACH] OFF
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] ON 

INSERT [dbo].[PHIEUNHAP] ([MAPN], [MATT], [NGAYNHAP]) VALUES (1, N'TT02', CAST(N'2019-02-14' AS Date))
INSERT [dbo].[PHIEUNHAP] ([MAPN], [MATT], [NGAYNHAP]) VALUES (2, N'TT05', CAST(N'2018-11-02' AS Date))
INSERT [dbo].[PHIEUNHAP] ([MAPN], [MATT], [NGAYNHAP]) VALUES (3, N'TT03', CAST(N'2017-01-01' AS Date))
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] OFF
INSERT [dbo].[SACH] ([ISBN], [MS], [NGAN], [KE], [TRANGTHAI], [MANHAP]) VALUES (N'DS02', 1, 4, 2, 2, 3)
INSERT [dbo].[SACH] ([ISBN], [MS], [NGAN], [KE], [TRANGTHAI], [MANHAP]) VALUES (N'DS01', 2, 2, 4, 2, 1)
INSERT [dbo].[SACH] ([ISBN], [MS], [NGAN], [KE], [TRANGTHAI], [MANHAP]) VALUES (N'DS01', 3, 1, 1, 2, 1)
INSERT [dbo].[SANGTAC] ([ISBN], [MATG]) VALUES (N'DS01', N'TG01')
INSERT [dbo].[SANGTAC] ([ISBN], [MATG]) VALUES (N'DS02', N'TG04')
INSERT [dbo].[SANGTAC] ([ISBN], [MATG]) VALUES (N'DS03', N'TG06')
INSERT [dbo].[TACGIA] ([MATG], [HO], [TEN], [DIACHI], [PHAI], [EMAIL], [NGAYSINH]) VALUES (N'TG01', N'NGUYỄN VĂN', N'THÀNH', N'ĐỒNG THÁP', N'NAM', N'vanthanhnguyen43@gmail.com', CAST(N'1999-05-15' AS Date))
INSERT [dbo].[TACGIA] ([MATG], [HO], [TEN], [DIACHI], [PHAI], [EMAIL], [NGAYSINH]) VALUES (N'TG02', N'NGUYỄN THỊ NGỌC', N'TRÂN', N'PHÚ YÊN', N'NỮ', N'ntngoctran99@gmail.com', CAST(N'1999-07-08' AS Date))
INSERT [dbo].[TACGIA] ([MATG], [HO], [TEN], [DIACHI], [PHAI], [EMAIL], [NGAYSINH]) VALUES (N'TG03', N'DƯƠNG KHÁNH', N'THƯ', N'SÓC TRĂNG', N'NỮ', NULL, CAST(N'1999-07-26' AS Date))
INSERT [dbo].[THELOAI] ([MATL], [TENTL]) VALUES (N'TL01', N'TRINH THÁM')
INSERT [dbo].[THELOAI] ([MATL], [TENTL]) VALUES (N'TL02', N'TÂM LÝ TÌNH CẢM')
INSERT [dbo].[THELOAI] ([MATL], [TENTL]) VALUES (N'TL03', N'TẠP CHÍ')
INSERT [dbo].[THUTHU] ([MATT], [HO], [TEN], [PHAI], [DIACHI], [EMAIL], [SDT]) VALUES (N'TT01', N'NGUYỄN THỊ', N'B', N'Nam', N'HCM', N'xyz@gmail.com', 123657487)
INSERT [dbo].[THUTHU] ([MATT], [HO], [TEN], [PHAI], [DIACHI], [EMAIL], [SDT]) VALUES (N'TT02', N'NGUYỄN THỊ NGỌC', N'TRÂN', N'NỮ', N'PHÚ YÊN', N'ntngoctran99@gmail.com', 337549897)
INSERT [dbo].[THUTHU] ([MATT], [HO], [TEN], [PHAI], [DIACHI], [EMAIL], [SDT]) VALUES (N'TT03', N'TRẦN THỊ HỒNG', N'QUYÊN', N'Nữ', N'LONG AN', N'q@gmail.com', 312313131)
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_DAUSACH_TENSACH]    Script Date: 16/12/2019 7:39:57 CH ******/
ALTER TABLE [dbo].[DAUSACH] ADD  CONSTRAINT [UK_DAUSACH_TENSACH] UNIQUE NONCLUSTERED 
(
	[TENSACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_NXB_TEN]    Script Date: 16/12/2019 7:39:57 CH ******/
ALTER TABLE [dbo].[NXB] ADD  CONSTRAINT [UK_NXB_TEN] UNIQUE NONCLUSTERED 
(
	[TEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTPHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTRASACH_PHIEUMUONSACH] FOREIGN KEY([MAPM])
REFERENCES [dbo].[PHIEUMUONSACH] ([MAPM])
GO
ALTER TABLE [dbo].[CTPHIEUMUON] CHECK CONSTRAINT [FK_PHIEUTRASACH_PHIEUMUONSACH]
GO
ALTER TABLE [dbo].[CTPHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTRASACH_SACH] FOREIGN KEY([MS])
REFERENCES [dbo].[SACH] ([MS])
GO
ALTER TABLE [dbo].[CTPHIEUMUON] CHECK CONSTRAINT [FK_PHIEUTRASACH_SACH]
GO
ALTER TABLE [dbo].[CTPHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTRASACH_THUTHU] FOREIGN KEY([MATTT])
REFERENCES [dbo].[THUTHU] ([MATT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTPHIEUMUON] CHECK CONSTRAINT [FK_PHIEUTRASACH_THUTHU]
GO
ALTER TABLE [dbo].[DAUSACH]  WITH CHECK ADD  CONSTRAINT [FK_DAUSACH_NXB] FOREIGN KEY([NXB])
REFERENCES [dbo].[NXB] ([MANXB])
GO
ALTER TABLE [dbo].[DAUSACH] CHECK CONSTRAINT [FK_DAUSACH_NXB]
GO
ALTER TABLE [dbo].[DAUSACH]  WITH CHECK ADD  CONSTRAINT [FK_DAUSACH_THELOAI] FOREIGN KEY([MATL])
REFERENCES [dbo].[THELOAI] ([MATL])
GO
ALTER TABLE [dbo].[DAUSACH] CHECK CONSTRAINT [FK_DAUSACH_THELOAI]
GO
ALTER TABLE [dbo].[LEPHI]  WITH CHECK ADD  CONSTRAINT [FK_LEPHI_DOCGIA1] FOREIGN KEY([MADG])
REFERENCES [dbo].[DOCGIA] ([MADG])
GO
ALTER TABLE [dbo].[LEPHI] CHECK CONSTRAINT [FK_LEPHI_DOCGIA1]
GO
ALTER TABLE [dbo].[PHIEUMUONSACH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUONSACH_DOCGIA1] FOREIGN KEY([MADG])
REFERENCES [dbo].[DOCGIA] ([MADG])
GO
ALTER TABLE [dbo].[PHIEUMUONSACH] CHECK CONSTRAINT [FK_PHIEUMUONSACH_DOCGIA1]
GO
ALTER TABLE [dbo].[PHIEUMUONSACH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUONSACH_THUTHU] FOREIGN KEY([MATT])
REFERENCES [dbo].[THUTHU] ([MATT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUMUONSACH] CHECK CONSTRAINT [FK_PHIEUMUONSACH_THUTHU]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_THUTHU] FOREIGN KEY([MATT])
REFERENCES [dbo].[THUTHU] ([MATT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_THUTHU]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_DAUSACH] FOREIGN KEY([ISBN])
REFERENCES [dbo].[DAUSACH] ([ISBN])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_DAUSACH]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_PHIEUNHAP1] FOREIGN KEY([MANHAP])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_PHIEUNHAP1]
GO
ALTER TABLE [dbo].[SANGTAC]  WITH CHECK ADD  CONSTRAINT [FK_SANGTAC_DAUSACH1] FOREIGN KEY([ISBN])
REFERENCES [dbo].[DAUSACH] ([ISBN])
GO
ALTER TABLE [dbo].[SANGTAC] CHECK CONSTRAINT [FK_SANGTAC_DAUSACH1]
GO
ALTER TABLE [dbo].[SANGTAC]  WITH CHECK ADD  CONSTRAINT [FK_SANGTAC_TACGIA] FOREIGN KEY([MATG])
REFERENCES [dbo].[TACGIA] ([MATG])
GO
ALTER TABLE [dbo].[SANGTAC] CHECK CONSTRAINT [FK_SANGTAC_TACGIA]
GO
ALTER TABLE [dbo].[CTPHIEUMUON]  WITH CHECK ADD  CONSTRAINT [CK_CTPHIEUMUON_MATTT_NGAYTRA] CHECK  (([NGAYTRA] IS NOT NULL AND [MATTT] IS NOT NULL OR [NGAYTRA] IS NULL AND [MATTT] IS NULL))
GO
ALTER TABLE [dbo].[CTPHIEUMUON] CHECK CONSTRAINT [CK_CTPHIEUMUON_MATTT_NGAYTRA]
GO
ALTER TABLE [dbo].[DAUSACH]  WITH CHECK ADD  CONSTRAINT [CK_DAUSACH_DONGIA] CHECK  (([DONGIA]>(0)))
GO
ALTER TABLE [dbo].[DAUSACH] CHECK CONSTRAINT [CK_DAUSACH_DONGIA]
GO
ALTER TABLE [dbo].[DAUSACH]  WITH CHECK ADD  CONSTRAINT [CK_DAUSACH_NAMXB] CHECK  (([NAMXB]>(0) AND [NAMXB]<=datepart(year,getdate())))
GO
ALTER TABLE [dbo].[DAUSACH] CHECK CONSTRAINT [CK_DAUSACH_NAMXB]
GO
ALTER TABLE [dbo].[DAUSACH]  WITH CHECK ADD  CONSTRAINT [CK_DAUSACH_SOTRANG] CHECK  (([SOTRANG]>(0)))
GO
ALTER TABLE [dbo].[DAUSACH] CHECK CONSTRAINT [CK_DAUSACH_SOTRANG]
GO
ALTER TABLE [dbo].[DOCGIA]  WITH CHECK ADD  CONSTRAINT [CK_DOCGIA_NGAYSINH] CHECK  (([NGAYSINH]<getdate()))
GO
ALTER TABLE [dbo].[DOCGIA] CHECK CONSTRAINT [CK_DOCGIA_NGAYSINH]
GO
ALTER TABLE [dbo].[DOCGIA]  WITH CHECK ADD  CONSTRAINT [CK_PHAI] CHECK  (([PHAI]='NAM' OR [PHAI]=N'NỮ'))
GO
ALTER TABLE [dbo].[DOCGIA] CHECK CONSTRAINT [CK_PHAI]
GO
ALTER TABLE [dbo].[LEPHI]  WITH CHECK ADD  CONSTRAINT [CK_LEPHI_NGAY] CHECK  (([NGAY]<=getdate()))
GO
ALTER TABLE [dbo].[LEPHI] CHECK CONSTRAINT [CK_LEPHI_NGAY]
GO
ALTER TABLE [dbo].[NXB]  WITH CHECK ADD  CONSTRAINT [CK_NXB] CHECK  (([SDT]>(99999999) AND [SDT]<=(999999999)))
GO
ALTER TABLE [dbo].[NXB] CHECK CONSTRAINT [CK_NXB]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [CK_SACH_KE] CHECK  (([KE]>(0)))
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [CK_SACH_KE]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [CK_SACH_NGAN] CHECK  (([NGAN]>(0)))
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [CK_SACH_NGAN]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [CK_SACH_TRANGTHAI] CHECK  (([TRANGTHAI]=(0) OR [TRANGTHAI]=(1) OR [TRANGTHAI]=(2)))
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [CK_SACH_TRANGTHAI]
GO
ALTER TABLE [dbo].[TACGIA]  WITH CHECK ADD  CONSTRAINT [CK_TACGIA_NGAYSINH] CHECK  (([NGAYSINH]<getdate()))
GO
ALTER TABLE [dbo].[TACGIA] CHECK CONSTRAINT [CK_TACGIA_NGAYSINH]
GO
ALTER TABLE [dbo].[TACGIA]  WITH CHECK ADD  CONSTRAINT [CK_TACGIA_PHAI] CHECK  (([PHAI]='NAM' OR [PHAI]=N'NỮ'))
GO
ALTER TABLE [dbo].[TACGIA] CHECK CONSTRAINT [CK_TACGIA_PHAI]
GO
ALTER TABLE [dbo].[THUTHU]  WITH CHECK ADD  CONSTRAINT [CK_THUTHU_PHAI] CHECK  (([PHAI]='NAM' OR [PHAI]=N'NỮ'))
GO
ALTER TABLE [dbo].[THUTHU] CHECK CONSTRAINT [CK_THUTHU_PHAI]
GO
/****** Object:  StoredProcedure [dbo].[SP_SACH]    Script Date: 16/12/2019 7:39:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SACH]
AS
BEGIN
	SELECT SACH.MS,DAUSACH.TENSACH,SACH.NGAN,SACH.KE,NXB.TEN,DAUSACH.NAMXB,TENTG = TACGIA.HO +  ' ' + TACGIA.TEN 
	FROM SACH,DAUSACH,NXB,SANGTAC,TACGIA
	WHERE SACH.ISBN=DAUSACH.ISBN AND DAUSACH.NXB=NXB.MANXB AND DAUSACH.ISBN=SANGTAC.ISBN AND SANGTAC.MATG=TACGIA.MATG
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TENSACH1]    Script Date: 16/12/2019 7:39:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TENSACH1]
@TENSACH NVARCHAR(50)
AS
BEGIN
	SELECT NXB.TEN, DAUSACH.NAMXB, TENTG=TACGIA.HO+' '+TACGIA.TEN
	FROM DAUSACH,NXB,SANGTAC,TACGIA
	WHERE DAUSACH.TENSACH=@TENSACH AND DAUSACH.NXB=NXB.MANXB AND DAUSACH.ISBN=SANGTAC.ISBN
			AND SANGTAC.MATG=TACGIA.MATG
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CHUAGHICHITIET]    Script Date: 16/12/2019 7:39:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_CHUAGHICHITIET]
AS
BEGIN
	SELECT PHIEUMUONSACH.MAPM
	FROM PHIEUMUONSACH
	LEFT JOIN CTPHIEUMUON
	ON PHIEUMUONSACH.MAPM = CTPHIEUMUON.MAPM
	WHERE CTPHIEUMUON.MAPM IS NULL
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DANGMUON]    Script Date: 16/12/2019 7:39:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_DANGMUON]
@MADG varchar(10)
AS
BEGIN
SELECT dbo.PHIEUMUONSACH.MAPM,dbo.PHIEUMUONSACH.NGAYMUON
INTO #PM_1DG
FROM dbo.PHIEUMUONSACH
WHERE dbo.PHIEUMUONSACH.MADG = @MADG

SELECT *
INTO #CHUATRA
FROM dbo.CTPHIEUMUON
WHERE dbo.CTPHIEUMUON.NGAYTRA IS NULL

SELECT #CHUATRA.MS, #PM_1DG.NGAYMUON
INTO #MS_DANGMUON
FROM #CHUATRA,#PM_1DG
WHERE #CHUATRA.MAPM = #PM_1DG.MAPM

SELECT #MS_DANGMUON.MS,dbo.DAUSACH.TENSACH,YEAR(#MS_DANGMUON.NGAYMUON) NAM, MONTH(#MS_DANGMUON.NGAYMUON) THANG, DAY(#MS_DANGMUON.NGAYMUON) NGAY,#MS_DANGMUON.NGAYMUON
FROM #MS_DANGMUON,dbo.DAUSACH,
	(SELECT DISTINCT dbo.SACH.ISBN,SACH.MS
	  FROM #MS_DANGMUON,dbo.SACH
	  WHERE #MS_DANGMUON.MS = dbo.SACH.MS) TEMP
WHERE dbo.DAUSACH.ISBN = TEMP.ISBN AND #MS_DANGMUON.MS = TEMP.MS
	  
--GROUP BY #MS_DANGMUON.MS,dbo.DAUSACH.TENSACH, #MS_DANGMUON.NGAYMUON
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DGDANGMUON]    Script Date: 16/12/2019 7:39:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_DGDANGMUON]
AS
BEGIN
	SELECT DISTINCT PHIEUMUONSACH.MADG
	FROM PHIEUMUONSACH,
		( SELECT DISTINCT CTPHIEUMUON.MAPM
		  FROM CTPHIEUMUON
		  WHERE CTPHIEUMUON.NGAYTRA IS NULL) TEMP
	WHERE PHIEUMUONSACH.MAPM = TEMP.MAPM
		
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SACHCOTHEMUON]    Script Date: 16/12/2019 7:39:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_SACHCOTHEMUON]
AS
BEGIN
	SELECT MS
	INTO #SACH_DANGMUON1
	FROM CTPHIEUMUON
	WHERE CTPHIEUMUON.NGAYTRA IS NULL

	SELECT SACH.MS
	FROM SACH
	LEFT JOIN #SACH_DANGMUON1 ON #SACH_DANGMUON1.MS = SACH.MS
	WHERE #SACH_DANGMUON1.MS IS NULL
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SACHMUONNN]    Script Date: 16/12/2019 7:39:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_SACHMUONNN]
AS
BEGIN
	-- Tìm ra số lượt mượn của những cuốn sách đã mượn
	SELECT CTPHIEUMUON.MS, COUNT(CTPHIEUMUON.MS) SL
	INTO #LUOTMUON
	FROM CTPHIEUMUON
	GROUP BY MS

	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SOSACHDANGMUON]    Script Date: 16/12/2019 7:39:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_SOSACHDANGMUON]
@MADG varchar(10)
AS
BEGIN
	SELECT COUNT(MS) SL
	FROM CTPHIEUMUON,
	(SELECT MAPM
		 FROM PHIEUMUONSACH
		 WHERE PHIEUMUONSACH.MADG = @MADG) TEMP
	WHERE CTPHIEUMUON.MAPM = TEMP.MAPM  AND CTPHIEUMUON.NGAYTRA IS NULL
END
GO
/****** Object:  StoredProcedure [dbo].[USP_TENSACH]    Script Date: 16/12/2019 7:39:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_TENSACH]
@MS int
AS
BEGIN
	SELECT DAUSACH.TENSACH
	FROM DAUSACH
	WHERE DAUSACH.ISBN = 
		 (SELECT SACH.ISBN
		  FROM SACH
		  WHERE SACH.MS = @MS)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_THEMDOCGIA]    Script Date: 16/12/2019 7:39:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_THEMDOCGIA]
@MADG varchar(10),
@HO nvarchar(30),
@TEN nvarchar(40),
@PHAI nvarchar(3),
@DIACHI nvarchar(80),
@NGAYSINH date,
@EMAIL varchar(50),
@SDT int
AS
BEGIN
	SET @EMAIL = NULL
	INSERT INTO DOCGIA(MADG,HO,TEN,PHAI,DIACHI,NGAYSINH,EMAIL,SDT) VALUES(@MADG,@HO,@TEN,@PHAI,@DIACHI,@NGAYSINH,@EMAIL,@SDT)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_THEMLEPHI]    Script Date: 16/12/2019 7:39:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_THEMLEPHI]
@MADG varchar(10),
@NGAY date
AS
BEGIN
	INSERT INTO LEPHI(MADG,NGAY) VALUES(@MADG,@NGAY)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_THEMTRASACH]    Script Date: 16/12/2019 7:39:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_THEMTRASACH]
@MS int,
@MATTT varchar(10),
@NGAYTRA date
AS
BEGIN
	UPDATE CTPHIEUMUON
	SET NGAYTRA = @NGAYTRA, MATTT = @MATTT
	WHERE CTPHIEUMUON.MS = @MS AND CTPHIEUMUON.NGAYTRA IS NULL
END
GO
/****** Object:  StoredProcedure [dbo].[USP_THONGTINDOCGIA]    Script Date: 16/12/2019 7:39:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_THONGTINDOCGIA]
@MADG varchar(10)
AS
BEGIN
	SELECT *
	FROM DOCGIA
	WHERE DOCGIA.MADG = @MADG
END
GO
/****** Object:  StoredProcedure [dbo].[USP_THONGTINMUON]    Script Date: 16/12/2019 7:39:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_THONGTINMUON]
AS
BEGIN
	SELECT CTPHIEUMUON.MAPM,CTPHIEUMUON.MS
	INTO #SACH_DANG_MUON
	FROM CTPHIEUMUON
	WHERE CTPHIEUMUON.NGAYTRA IS NULL

	SELECT PHIEUMUONSACH.MADG,#SACH_DANG_MUON.MS,PHIEUMUONSACH.NGAYMUON
	INTO #SACHDANGMUON_CUA_DOCGIA
	FROM PHIEUMUONSACH,#SACH_DANG_MUON
	WHERE PHIEUMUONSACH.MAPM = #SACH_DANG_MUON.MAPM

	SELECT #SACHDANGMUON_CUA_DOCGIA.MADG,(DOCGIA.HO + ' ' + DOCGIA.TEN) HOTEN, #SACHDANGMUON_CUA_DOCGIA.MS,#SACHDANGMUON_CUA_DOCGIA.NGAYMUON
	INTO #SACHMUON_DOCGIA_TEN
	FROM #SACHDANGMUON_CUA_DOCGIA,DOCGIA
	WHERE DOCGIA.MADG = #SACHDANGMUON_CUA_DOCGIA.MADG

	SELECT SACH.ISBN,#SACHMUON_DOCGIA_TEN.MS
	INTO #TAM
	FROM SACH,#SACHMUON_DOCGIA_TEN
	WHERE SACH.MS = #SACHMUON_DOCGIA_TEN.MS

	SELECT #SACHMUON_DOCGIA_TEN.MADG, #SACHMUON_DOCGIA_TEN.HOTEN,#SACHMUON_DOCGIA_TEN.MS,DAUSACH.TENSACH,#SACHMUON_DOCGIA_TEN.NGAYMUON
	FROM #SACHMUON_DOCGIA_TEN,DAUSACH,#TAM
	WHERE #TAM.ISBN = DAUSACH.ISBN AND #TAM.MS = #SACHMUON_DOCGIA_TEN.MS

END
GO
/****** Object:  StoredProcedure [dbo].[USP_THONGTINTHUTHU]    Script Date: 16/12/2019 7:39:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_THONGTINTHUTHU]
@MATT varchar(10)
AS
BEGIN
	SELECT *
	FROM THUTHU
	WHERE THUTHU.MATT = @MATT
END
GO
